node_modules
dist
.env
.DS_Store
npm-debug.log
/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.next
/database/
/src/
/frontend/src/
/frontend/src/app/
/frontend/src/components/
/frontend/src/lib/
/frontend/src/styles/
/frontend/public/
/frontend/ 